@using Microsoft.AspNetCore.Identity
@inject SignInManager<users> SignInManager
@inject UserManager<users> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
   
   
   @if (User.IsInRole("Customer"))
            {
    <li class="nav-item">
        <a  class="nav-link text-dark" aria-readonly="true" title="Manage">Hello @User.Identity?.Name ready for a cut!</a>
    </li>


    <li class="nav-item">
         <a class="nav-link text-dark" asp-area="" asp-controller="account" asp-action="Shops">Shops</a>
    </li>
            }
            @if (User.IsInRole("Customer") || User.IsInRole("Barber"))
{
<li class="nav-item">
         <a class="nav-link text-dark" asp-area="" asp-controller="appointment" asp-action="Index">appointments</a>
    </li>
            }

            @if (User.IsInRole("BarberShop"))
            {
                <li class="nav-item">
         <a class="nav-link text-dark" asp-area="" asp-controller="account" asp-action="insights">insights</a>
    </li>
            }

            @if (User.IsInRole("Barber")){
                <li class="nav-item">
         <a class="nav-link text-dark" asp-area="" asp-controller="files" asp-action="Index" asp-route-id="MyShop">My shop</a>
    </li>
            }

                <li class="nav-item">
         <a class="nav-link text-dark" asp-area="" asp-controller="files" asp-action="Index">Profile</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-controller="account" asp-action="logout">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>

    <li class="nav-item">
         <a class="nav-link text-dark" asp-area="" asp-controller="account" asp-action="settings">settings</a>
    </li>


}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="account" asp-action="Login">Login</a>
    </li>
}
</ul>
