@{
    ViewData["Title"] = "Profile";
}


<p class="muted" style="left: 200px; top: 30%; text-transform: uppercase;padding-left: 20%; padding-top: 3%;"> my shops</p>


<p class="muted" style="left: 200px; top: 30%; text-transform: uppercase;padding-left: 20%; padding-top: 3%;"> my cuts</p>
<div class="image-grid">
<img src="/img/Background.jpeg" alt="">
<img src="/img/Background.jpeg" alt="">
<img src="/img/Background.jpeg" alt="">
<img src="/img/Background.jpeg" alt="">
<img src="/img/Background.jpeg" alt="">
<button type="button" class="btn btn-outline-light">Add photo</button>
</div>