@model IEnumerable<barber.appointment>
  @{
    ViewBag.Title = "Insights";
}
<div class="row justify-content-center">
    <div class="col-md-4">
            <div class="form-group">
                <label >Number of all appointments</label>
                <input type="text" class="btn-btn-secondary" placeholder="@ViewBag.appointNum" />
            </div>
            
    </div>
</div>
  
  <form method="get" asp-controller="account" asp-action="insights">
    <br />
    <input type="search" placeholder="Search" value="@ViewData["Search"]" name="search" style="width:200px;" />
    <input type="submit" value="Search" class="btn-btn-secondary" />  |
    <a asp-action="insights">Get all appointments</a>
</form>




<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Column heading</th>
      <th scope="col">Column heading</th>
      <th scope="col">Column heading</th>
    </tr>
  </thead>
  <tbody>
   
    


  

@foreach (var shopInfo in Model)
{

 <tr class="table-primary">
      <td>@shopInfo.service</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>

   
    <p>@shopInfo.Date</p>
}
</tbody>
</table>
@section Scripts {
}
