@model barber.ViewModels.LoginViewModel
@{
    ViewBag.Title = "User Login";
}
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <br />
       

             <div class="form-floating mb-3">
    <input asp-for="UserName" class="form-control" id="floatingInput" placeholder="User Name">
    <label for="floatingInput">User Name</label>
  </div>
        

            <div class="form-floating">
    <input asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <br />
            <center><button type="submit" class="btn btn-primary">Login</button></center>
        </form>
    </div>
</div>