@model barber.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "User Registration";
}


<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <center>
                <br />
                <div class="form-group">
                    <label asp-for="fName"></label>
                    <input asp-for="fName" class="form-control" />
                    <span asp-validation-for="fName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </center>
            <div class="form-group">
                <label asp-for="EmailConfirmed"></label>
                <input asp-for="EmailConfirmed" class="form-control" />
                <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fName"></label>
                <input asp-for="fName" class="form-control" />
                <span asp-validation-for="fName" class="text-danger"></span>
            </div>
            <center>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>

                    @if (ViewBag.MsgUser != null)
                    {
                        <p class="text-danger">@ViewBag.MsgUser</p>
                    }
                </div>
            </center>
            <center>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </center>
            <center>
                <div class="form-group">
                    <label asp-for="PConfirmation"></label>
                    <input asp-for="PConfirmation" class="form-control" />
                    <span asp-validation-for="PConfirmation" class="text-danger"></span>
                </div>
            </center>

            <center>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </center>
            <br />


            <p class="muted">What type of user are you?</p>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="userType" id="btnradio1" checked="true">
                <label class="btn btn-outline-primary" for="btnradio1">Customer</label>
                <input type="radio" class="btn-check" name="userType" id="barber" value="barber">
                <label class="btn btn-outline-primary" for="barber">Barber</label>
                <input type="radio" class="btn-check" name="userType" id="barberShop" value="barberShop">
                <label class="btn btn-outline-primary" for="barberShop">Barber shop owner</label>
            </div>
            <br><br>



            <center><button type="submit" class="btn btn-primary" onclick="userType();">Sign Up</button></center>
            <br><br>

            <input type="hidden" id="results" asp-for="userType">


        </form>
    </div>
</div>

@section Scripts {

<script>




    function userType() {


        var userType = document.forms[0];
        var type;
        var i;


        for (i = 0; i < userType.length; i++) {

            if (userType[i].checked) {
                type = type[i].value + "";
            }
        }

        document.getElementById("results").value = type;

    }

</script>


}
