@{
  ViewData["Title"] = "Settings";
}
<h6 class="display-6" style="text-transform: uppercase; padding-top: 4%; padding-left: 2%;">account</h4>
  <div class="list-group">
    <a asp-controller="account" asp-action="Edit" class="list-group-item list-group-item-action">Edit Account</a>

    <a href="#" class="list-group-item list-group-item-action">Change Password</a>
  </div>

  <h6 class="display-6" style="text-transform: uppercase; padding-top: 4%; padding-left: 2%;">share</h4>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Recommend MyBarber</a>
    </div>
    <h6 class="display-6" style="text-transform: uppercase; padding-top: 4%; padding-left: 2%;">contact us</h4>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Send Feedback</a>
        <a href="#" class="list-group-item list-group-item-action">Support</a>
      </div>
      <h6 class="display-6" style="text-transform: uppercase; padding-top: 4%; padding-left: 2%;">about</h4>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">Terms of Service</a>
          <a asp-controller="Home" asp-action="Privacy" class="list-group-item list-group-item-action">Privacy
            Policy</a>
          <a href="#" class="list-group-item list-group-item-action">FAQs</a>
        </div>