@{
    ViewData["Title"] = "Home Page";
}


<div class="all">
       <h1 class="display-1 Pr" style="left: 20%; position: relative; top: 10%;">The Salon</h1>

         <p class="lead" style="left: 20%; position: relative;" >
                           The Salon, is a booking system for salons around Jeddah 
           </p>
           
           <p class="lead" style="left: 20%; position: relative; ">You can easely book an appointment in less than 5 minutes</p>
      
     

       <div class="hero">
          
           <video autoplay loop muted plays-inline class="back-video">
               <source src="~/video/BackgroundThesalon.mp4" type="video/mp4">
           </video>
       </div>

       </div>
