@model barber.Models.offers
@{
    ViewBag.Title = "Create offer";
}
<h1>Create offer</h1>
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">

            <div class="form-group">
  <label class="form-label mt-4">Offer percentage</label>
  <div class="form-group">
    <div class="input-group mb-3">
      <span class="input-group-text">%</span>
      <input  asp-for="description" type="text" class="form-control" aria-label="">
     
    </div>
            <button type="submit" class="btn btn-outline-success">Add offer</button>

        </form>
    </div>