@model barber.ViewModels.CreateAppointmentViewModel;
@{
    ViewBag.Title = "Create appointment";
}
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Book an appointment</h1>
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <input asp-for="shopId" type="hidden" class="form-control" />
            <input asp-for="barberId" type="hidden" class="form-control" />
            <input asp-for="customerId" type="hidden" class="form-control" />  
                       <div class="form-group">
  <fieldset>
    <label asp-for="shop" class="form-label mt-4" for="readOnlyInput"></label>
    <input asp-for="shop" class="form-control" id="readOnlyInput" type="text" readonly="" />
  </fieldset>
</div>
            
            <div class="form-group">
  <fieldset>
    <label asp-for="barber" class="form-label mt-4" for="readOnlyInput"></label>
    <input asp-for="barber" class="form-control" id="readOnlyInput" type="text" readonly="" />
  </fieldset>
</div>

<legend class="mt-4">What do you want to do?</legend>
            
            @for (var i = 0; i <Model.services.Count; i++)
            {
              
            
            <div class="form-check">
                   <input asp-for="services[i].price" class="form-control" type="hidden"/>
                   <input asp-for="services[i].name" class="form-control" type="hidden"/>
                   <input asp-for="services[i].time" class="form-control" type="hidden"/>

               @Html.CheckBoxFor(model => Model.services[i].isChecked,true)  <span>Service: @Model.services[i].name,</span>  <span>Price: @Model.services[i].price SAR,</span> <span>Duration: @Model.services[i].time min</span> 
            </div>
            }


            

             <div class="form-group">
                <label asp-for="stime" class="control-label">Appointment time</label>
                <select class="form-select" asp-for="stime" placeholder="Select slot" class="form-control"
                    asp-items="ViewBag.timeList"></select>
            </div>
                
            <br />
            <button type="submit" class="btn btn-primary">Book appointment</button>
        </form>
    </div>
    @section Scripts {
    
    }
</div>