@model barber.ViewModels.CreateAppointmentViewModel;
@{
    ViewBag.Title = "Create appointment";
}
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Create appointment</h1>
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <input asp-for="shopId" type="hidden" class="form-control" />
            <input asp-for="barberId" type="hidden" class="form-control" />  
            <div class="form-group">
                <label asp-for="shop"></label>
                <input asp-for="shop" class="form-control" />
                <span asp-validation-for="shop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="barber"></label>
                <input asp-for="barber" class="form-control" />
                <span asp-validation-for="barber" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="service" class="control-label"></label>
                <select class="form-select" asp-for="service" placeholder="Select service" class="form-control"
                    asp-items="Model.services"></select>
            </div>
             <div class="form-group">
                <label asp-for="stime" class="control-label"></label>
                <select class="form-select" asp-for="stime" placeholder="Select slot" class="form-control"
                    asp-items="ViewBag.timeList"></select>
            </div>
                 <div class="container">
<div class="row">
<div class="col-md-2">
<button class="btn btn-primary"></button>
</div>
</div>
                 </div>
            <br />
            <button type="submit" class="btn btn-primary">Create appointment</button>
        </form>
    </div>
    @section Scripts {
    
    }
</div>